body {
  background-image: url("https://t3.ftcdn.net/jpg/05/54/54/86/360_F_554548673_mDspJw6PUnXKWemMnbv7YZIHRq3XPel2.jpg");
  background-repeat: no-repeat;  
  background-size: cover;
}

.projects {
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  backdrop-filter: blur(8px);
  background-color: rgba(12, 11, 12, 0.3);
  color: white;
}

.card img {
  width: 50%;
  height: auto;
  border-radius: 5px;
}

.card h3, .card p {
  margin: 10px 0;
}

.card .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

#codemaster{
  margin-top: 30px;
  margin-bottom: 13px;
}

.card{
  color: white;
}

h1{
  color: white;
}

#calcfinite{
  margin-top: 30px;
  margin-bottom: 13px;
}